 *, *::before, *::after {
	box-sizing: inherit;
}

::placeholder {
	font-family: 'Roboto', sans-serif!important
}


button, input, select, textarea {
	font: inherit;
}

html {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

ul {
	margin: 0;
	padding: 0;
}

.main-header-bg {
	background-color: #eeeeee;
}

.main-header {
	text-transform: uppercase;
	text-decoration: none;
	color: #111;
}

.main-header-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 49px;
}

.main-header-nav ul {
	display: flex;
	flex-wrap: wrap;
	text-decoration: none;
	color: #111;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 50px;
}

.main-header-nav a {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 34px;
	font-weight: 500;
	text-decoration: none;
	color: #111;
}

.main-header-logo:hover {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}

.header-item {
	display: flex;
	justify-content: center;
	padding: 0 24px;;
}

.header-item a:hover {
	color: #fb565a;
	transition-duration: 0.2s;
}

.header-item a:active {
	color: #000;
	opacity: 0.3;
}

.header-item.active a{
	border-bottom: 2px solid #fb565a;
}

.main-header-nav {
	position: relative;
	padding-top:49px;
}

.main-header-cart-icon {
	position: relative;
	padding-left: 42px;
	padding-top: 6px;
	margin-left: 45px;
}

.main-header-cart-icon::before {
	content: '';
	position: absolute;
	top: 14px;
	left: 2px;
	width: 15px;
	height: 15px;
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-header-cart:hover {
	color: #fb565a;
	transition-duration: 0.2s;
}

.main-header-cart:active {
	color: #000;
	opacity: 0.3;
}

.slider input[type='radio'] {
	display: none;
}

.slider {
	display: flex;
	align-items: center;
}

.slides {
	width: 100%;
}

.slides h2 {
	font-size: 55px;
	letter-spacing: 0;
	line-height: 55px;
	font-weight: 500;
	padding-bottom: 27px;
}

.slides p {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	padding-bottom: 39px;
}

.slide {
	display: none;
	width: 97%;
	padding: 65px 0 80px;
	animation: 30s 24s ease-in-out infinite;
}

.slide1 {
	background-image: url(../img/slide1.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.slide2 {
	background-image: url(../img/slide2.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.slide3 {
	background-image: url(../img/slide3.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

input:checked:nth-child(1) ~ .slides .slide1 {
	display: block;
}

input:checked:nth-child(2) ~ .slides .slide2 {
	display: block;
}

input:checked:nth-child(3) ~ .slides .slide3 {
	display: block;
}

.slider-control {
	display: inline-block;
	vertical-align: baseline;
	width: 18px;
	height: 18px;
	margin: 0 8.5px;
	border-radius: 50%;
	background: #ffff;
	position: relative;
	cursor: pointer;
}

.slider-control::after {
	content: '';
	display: none;
	background: #ffffff;
	border: 2px solid #c1c1c1;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position:absolute;
	top: 5px;
	left: 5px;
}

input:checked:nth-child(1) ~ .slider-controls .slider-control:nth-child(1)::after {
	display: block;
}

input:checked:nth-child(2) ~ .slider-controls .slider-control:nth-child(2)::after {
	display: block;
}

input:checked:nth-child(3) ~ .slider-controls .slider-control:nth-child(3)::after {
	display: block;
}

.slider-controls {
	position: absolute;
	bottom: 96px;
	left: 45%;
}

.advantages-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 507px;
	padding: 80px 0;
	box-shadow: 0 2px 0px 0px #ececec;
}

.advantages-main img {
	margin-bottom: 20px;
}

.advantages-main h3 {
	margin-bottom: 16px;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.advantages-main p {
	width: 245px;
	min-height: 42px;
	margin-bottom: 33px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
}

.advantages-main li {
	list-style-type: none;
}

.advantages-item {
	width: 31%;
}

.studio-display-inner {
	display: flex;
	justify-content: space-between;
	padding-bottom: 76px;
	box-shadow: 0 2px 0px 0px #ececec;
}

.studio-main {
	display: flex;
	flex-direction: column;
	width: 655px;
	padding-top: 77px;
}

.studio-main h2 {
	margin-bottom: 33px;
	font-size: 45px;
	line-height: 45px;
	letter-spacing: 0;
	font-weight: 500;
}

.studio-main p {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
	margin-bottom: 40px;
}

.studio-main h4 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 29px;
}

.studio-main-info {
	list-style: none;
}

.studio-main-info-item {
	margin-bottom: 29px;
	position: relative;
	padding-left: 35px;
}

.studio-main-info-item:last-child {
	margin-bottom: 0px;
}

.studio-main-info-item::before {
	content: '';
	position: absolute;
	background: #fb565a;
	width: 25px;
	height: 2px;
	top: 9px;
	left: 0;
}

.studio-image {
	display: flex;
	flex-direction: column;
	padding-top: 41px;
}

 .studio-image img {
	margin-bottom: 39px;
}

.studio-image h4 {
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.studio-image-info {
	display: flex;
}

.studio-image-info-item {
	width: 105px;
	margin-right: 14px;
}

.studio-image-info-item:last-child {
	margin-right: 0;
}

.studio-image-info-item span {
	margin-bottom: 14px;
	font-weight: 700;
}

.studio-image-info-item p {
	font-size: 16px;
	letter-spacing: 0;
}

.studio-image-info li{
	display: flex;
	flex-direction: column;
}

.studio-image-info span {
	display: flex;
	font-size: 45px;
	font-weight: 700;
}

.studio-image-info span sup {
	font-size: 25px;
	position: relative;
	top: 4px;
}

.studio-partners {
	margin-bottom: 80px;
	box-shadow: 0 2px 0px 0px #ececec;
}

.std-partners-logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.std-partners-logo-item {
	opacity: 0.2;
}

.std-partners-logo-item:hover {
	opacity: 1;
	transition-duration: .2s;
}

.std-partners-logo-item:active {
	opacity: 0.1;
}

.studio-partners li {
	list-style-type: none;
	display: flex;
	justify-content: center;
	flex: 1;
	position: relative;
}

.studio-partners li:after {
	content: '';
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	vertical-align: baseline;
	right: 0;
	top: 21px;
	bottom: 21px;
	width: 2px;
	background: #ccc;
	opacity: 0.5;
}

.studio-partners li:last-child::after { 
	display: none; 
}

.std-partners-logo {
	padding: 46px 0 40px;
}

.contacts {
	padding: 55px 0;
	background-image: url('../img/bg-map.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
}

.contacts-info {
	display: inline-block;
	vertical-align: baseline;
	min-width: 308px;
	padding: 54px 50px 47px;
	background-color: #ffffff;
}

.contacts h4 {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 29px;
}

.contact-info-address {
	margin-bottom: 16px;
}

.contact-info-phone {
	margin-bottom: 37px;
}

.contact-info-address, .contact-info-phone {
	font-size: 16px;
	line-height: 18px;
	color: #666666;
	text-decoration: none;
}

.footer {
	padding: 69px 0;
}

.footer-display-inner {
	display: flex;
	align-items: center;
}

.footer-social {
	display: flex;
	list-style-type: none;
}

.footer-social-item {
	font-size: 0;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: baseline;
	background: #e1e1e1;
	margin: 0 6px;
	cursor: pointer;
	position: relative;
}

.footer-social-item a {
	content: "";
	position: absolute;
	width: 78px;
	height: 78px;
}

.vk-icon::before {
	content: "";
	width: 26px;
	height: 15px;
	top:32px;
	left: 25px;
	background-image: url(../img/vk-icon.svg);
	background-repeat: no-repeat;
	position: absolute;
}

.facebook-icon::before {
	content: "";
	width: 21px;
	height: 21px;
	top:28px;
	left: 32px;
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
	position: absolute;
}

.insta-icon::before {
	content: "";
	width: 21px;
	height: 21px;
	top:28px;
	left: 28px;
	background-image: url(../img/insta-icon.svg);
	background-repeat: no-repeat;
	position: absolute;
}

.footer-social-item a:active::before {
	opacity: 0.3;
}

.footer-social-item:hover {
	background: #e74246;
	transition-duration: .2s;
}

.footer-social-item:active {
	background: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.footer-text {
	margin-left: 132px;
}

.footer-text h3 {
	font-size: 36px;
	letter-spacing: 0;
	line-height: 36px;
	margin-bottom: 12px;
}

.footer-text p {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 22px;
}

/* Разметка страницы каталога */

.catalog-ttl {
	padding: 66px 0 106px;
}

.catalog-title {
	font-size: 55px;
	letter-spacing: 0px;
	line-height: 55px;
	text-align: center;
}

.main-catalog {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}

.main-catalog li {
	list-style-type: none;
}

.sidebar-filter {
	width: 260px;
}

.sidebar-filter h4 {
	text-transform: uppercase;
	font-size: 18px;
}

.filter-title-price {
	margin-bottom: 55px;
}

.filter-price {
	position: relative;
	min-height: 81px;
	background: #eeeeee;
	margin-bottom: 14px;
	padding: 0 21px;
}

.slider-line {
	position: absolute;
	display: flex;
	background: #d7dcde;
	height: 1px;
	width: 80%;
	top: 50%;
}

.filter-min, .filter-max {
	position: absolute;
	width: 20px;
	height: 20px;
	top: -10px;
	border-radius: 50%;
	background-color: #ffffff;
	background-image: url(../img/filter-button.svg);
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px -1px rgba(0,1,1, 0.25);
}

.filter-inputs {
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	line-height: 22px;
	color: #283136;
}

::-webkit-input-placeholder {
	color: #283136;;
}

.filter-inputs input {
	background: #eeeeee;
	border: none;
}

.price-start, .price-end {
	align-content: center;
}

.price-start label {
	margin-right: 10px;
}

.price-end label {
	margin-right: 10px;
}

.filter-inputs input {
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #283136;
	border-radius: 3px;
}

.filter-field {
	width: 80px;
	min-height: 38px;
}

.filter-slider {
	text-transform: uppercase;
	margin-bottom: 56px;
}

.filter-grid-type {
	margin-bottom: 51px;
}

.filter-grid-type h4 {
	margin-bottom: 19px;
}

.filter-grid-type ul li {
	display: flex;
	margin-bottom: 18px;
}

.filter-option {
	position: relative;
	color: #000;
}

.filter-grid-list input[type=radio]{
	display: none;
}

.filter-option label {
	padding-top: 3px;
	padding-left: 35px;
	color: rgba(40, 49, 54, 255);
	cursor: pointer;
}

.filter-option label:hover {
	padding-top: 3px;
	color: #000;
} 

.filter-grid-list input[type=radio] + label::before {
	display: inline-block;
	position: absolute;
	vertical-align: baseline;
	content: '';
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	opacity: 0.4;
}

.filter-grid-list input[type=radio]:hover + label::before {
	position: absolute;
	content: '';
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	opacity: 1;
}

.filter-grid-list input[type=radio]:checked + label::before {
	position: absolute;
	content: '';
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	background-image: url(../img/radio-on.svg);
	background-repeat: no-repeat;
}

.filter-grid-list input:disabled + label,
.filter-grid-list input:disabled:hover + label,
.filter-grid-list input:disabled + label:before,
.filter-grid-list input:disabled:hover + label:before {
	color: #283136;
	opacity: 0.3;
}

.filter-properties-list input[type=checkbox]{
	display: none;
}

.filter-properties {
	margin-bottom: 48px;
}

.filter-properties h4 {
	margin-bottom: 18px;
}

.filter-properties ul li {
	display: flex;
	margin-bottom: 18px;
}

.filter-properties-list input[type=checkbox] + label::before {
	display: inline-block;
	position: absolute;
	vertical-align: baseline;
	content: '';
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	opacity: 0.4;
}

.filter-properties-list input[type=checkbox]:hover + label::before {
	position: absolute;
	content: '';
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	opacity: 1;
}

.filter-properties-list input[type=checkbox]:checked + label::before {
	position: absolute;
	content: '';
	width: 25px;
	height: 25px;
	top: 0;
	left: 0;
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
}

.filter-properties-list input:disabled + label,
.filter-properties-list input:disabled:hover + label,
.filter-properties-list input:disabled + label:before,
.filter-properties-list input:disabled:hover + label:before {
	color: #283136;
	opacity: 0.3;
}

.catalog-sort {
	margin-bottom: 55px;
}

.catalog {
	width: 784px;
	padding-left: 24px;
}

.catalog-sorting {
	display: flex;
}

.catalog-sorting h4 {
	font-size: 18px;
	text-transform: uppercase;
}

.sort-sites {
	margin-right: 20px;
	margin-left: auto;
}

.sort-sites a {
	margin-right: 25px;
	color: #000;
	opacity: 0.3;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.sort-sites a:hover {
	opacity: 0.6;
}

.sort-sites a.active, .sort-sites a:active {
	opacity: 1;
}

.sort-sites.active  {
	color: #000;
}

.sort-order {
	font-size: 0;
	position: relative;
	padding: 10px 20px 0;
}

.sort-desc::before {
	content: '';
	position: absolute;
	width: 11px;
	height: 10px;
	top: 5px;
	left: 0;
	background-image: url(../img/icon-down-dir.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.sort-asc::before {
	content: '';
	position: absolute;
	width: 11px;
	height: 10px;
	top: 5px;
	right: 0;
	background-image: url(../img/icon-up-dir.svg);
	background-repeat: no-repeat;
	opacity: 0.3;
}

.sort-desc:hover::before {
	opacity: 0.6;
}

.sort-asc:hover::before {
	opacity: 0.6;
}

.sort-order a.active::before, 
.sort-order a:active::before {
	opacity: 1;
}

.catalog-item {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	margin-bottom: 33px;
	box-shadow: 0 0 1px 1px rgba(0,1,1, 0.1);
	padding-top: 40px;
	position: relative;
}

.catalog-item::before {
	content: '';
	position: absolute;
	width: 360px;
	height: 40px;
	left: 0;
	top: 0;
	opacity: 0.12;
	background-image: url(../img/browser.svg);
	background-repeat: no-repeat;
}

.catalog-item:hover::before {
	opacity: 1;
}

.catalog-item:hover {
	box-shadow: 0 0 15px 6px rgba(0,1,1, 0.25);
	transition-duration: 0.2s;
}

.catalog-item:hover .catalog-item-info {
	display: block;
	transition-duration: 0.2s;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 27px;
}

.catalog-item-info {
	display: none;
	position: absolute;
	width: 360px;
	text-align: center;
	background-color: #eee;
}

.catalog-item-title {
	padding-top: 33px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.catalog-item-description {
	margin-bottom: 30px;
	color: #666666;
}

.pagination {
	display: flex;
	justify-content: space-between;
	width: 443px;
	margin-bottom: 60px;
}

.pagination-item {
	width: 50px;
	text-align: center;
	background-color: #eee;
	color: #000;
	font-size: 16px;
	line-height: 50px;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;
}
	
.pagination-item:last-child {
	width: 260px;
}

.pagination-item:hover {
	background-color: #dfdfdf;
}

.pagination-item:active {
	background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.pagination .active {
	background-color: #fff;
	border: 3px solid #dbdbdb;
	line-height: 44px;
}

.pagination .active:active {
	background-color: #fff;
	border: 3px solid #dbdbdb;
	line-height: 44px;
	box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0.1);
}

.pagination-item a {
	text-decoration: none;
	color: #000;
	font-weight: medium;
}

.button {
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 50px;
	border-radius: 3px;
	background-color: #fb565a;
	text-align: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	cursor: pointer;
}

.button:hover {
	background-color: #e74246;
	transition-duration: .2s;	
}

.button:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.slide .button {
	width: 240px;
}

.advantages .button {
	width: 160px;
}

.adv-button-red {
	background-color: #fb565a;
}

.adv-button-green {
	background-color: #00ca74;
}

.adv-button-green:hover {
	background-color: #00bc6c;
}

.adv-button-green:active {
	background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.adv-button-yellow {
	background-color: #efc84a;
}

.adv-button-yellow:hover {
	background-color: #eab534;
}

.adv-button-yellow:active {
	background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.contact-info-btn {
	width: 219px;
}

.filter-button {
	width: 260px;
	background-color: #eee;
	color: #111;
	padding: 0;
	border-width: 0px;
}

.filter-button:hover {
	background-color: #dfdfdf;
}

.filter-button:active {
	background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 3px 0px 0px rgba(0, 0, 0, 0.1);
	outline: 0;
}

.catalog-button {
	width: 200px;
	margin-bottom: 43px;
	background-color: #fb565a;
}

	/* Модальное окно */
										
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0);
	z-index: 1;
}
										
.modal-window {
	width: 960px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	opacity: 1;
	z-index: 1;
	padding: 72px 100px 84px;
	box-shadow: 0 20px 40px 0 rgba(0,1,1, 0.75);
}

.modal-header span::after{
	content: "";
	position: absolute;
	width: 21px;
	height: 21px;
	top: 80px;
	right: 90px;
	background-image: url(../img/close-cross.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.modal-header {
	display: flex;
}

.modal-header span {
	font-size: 0;
}

.modal-header span:hover::after {
	opacity: 1;
}

.modal-header span:active::after {
	opacity: 0.1;
}

.modal-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	margin-bottom: 46px;
}

.form-inputs {
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}

.form-input-item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 47%;
}

.form-input-item input {
	height: 50px;
	font-size: 16px;
	line-height: 18px;
	color: #444444;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	padding: 0 16px;
}

.form-input-item input:hover {
	border: 2px solid #b4b9bb;
	transition-duration: 0.2s;
}

.form-input-item input:focus {
	border: 2px solid #000000;
	transition-duration: 0.2s;
	outline: 0;
}

.form-input-item input::-webkit-input-placeholder {
	color: rgba(68,68,68, 0.5);
}

.form-input-item input:hover::-webkit-input-placeholder { 
	color: rgba(68,68,68, 0.5);
	transition-duration: 0.2s;
} 

.form-input-item input:focus::-webkit-input-placeholder { 
	color: #444444;
	transition-duration: 0.2s;
} 

.form-textarea {
	display: flex;
	flex-direction: column;
	margin-bottom: 47px;
}

.form-textarea textarea {
	height: 118px;
	
	font-size: 16px;
	line-height: 18px;
	color: #444444;
	border: 2px solid #d7dcde;
	border-radius: 3px;
	padding: 14px 16px 0;
	resize: none;
}

.form-textarea textarea::placeholder {
 	font-family: 'Roboto', sans-serif;
}


.form-textarea textarea:hover {
	border: 2px solid #b4b9bb;
	transition-duration: 0.2s;
}

.form-textarea textarea:focus {
	border: 2px solid #000000;
	transition-duration: 0.2s;
	outline: 0;
}

.form-textarea textarea::-webkit-input-placeholder {
	color: rgba(68,68,68, 0.5);
	font-family: 'Roboto', sans-serif;
}

.form-textarea textarea:hover::-webkit-input-placeholder { 
	color: rgba(68,68,68, 0.5);
	transition-duration: 0.2s;
} 

.form-textarea textarea:focus::-webkit-input-placeholder { 
	color: #444444;
	transition-duration: 0.2s;
} 

.form-inputs, .form-textarea {
	border-width: 2px;
	border-color: #d7dcde;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	outline-color: rgba(68,68,68, 1);
}

.form-inputs label, .form-textarea label {
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.form-button {
	width: 260px;
	height: 50px;
	border-width: 0;
	font-weight: 500;
}