*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

ul {
	margin: 0;
	padding: 0;
}

.main-header-bg {
	background-color: #eeeeee;
}

.main-header {
	text-transform: uppercase;
	text-decoration: none;
	color: #111;
}

.main-header-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 49px;
}

.main-header-nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #111;
}

.main-header-nav a {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 30px;
	text-decoration: none;
	color: #111;
}

.header-item {
	display: flex;
	justify-content: center;
	padding: 0 24px;;
}

.header-item .active {
	text-decoration: underline;
	text-decoration-color: #666666;
}
.main-header-cart {
}

.slider input[type='radio'] {
	display: none;
}

.slider {
	display: flex;
	align-items: center;
}

.slides {
	width: 100%;
}

.slides h2 {
	font-size: 55px;
	letter-spacing: 0;
	line-height: 55px;
	font-weight: 500px;
	padding-bottom: 27px;
}

.slides p {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 24px;
	padding-bottom: 42px;
}

.slide {
	display: none;
	width: 97%;
	padding: 67px 0 80px;
}

.slide1 {
	background-image: url(img/slide1.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.slide2 {
	background-image: url(img/slide2.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

.slide3 {
	background-image: url(img/slide3.png);
	background-repeat: no-repeat;
	background-position: right bottom;
}

input:checked:nth-child(1) ~ .slides .slide1 {
	display: block;
}

input:checked:nth-child(2) ~ .slides .slide2 {
	display: block;
}

input:checked:nth-child(3) ~ .slides .slide3 {
	display: block;
}

.slider-control {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 8.5px;
	border-radius: 50%;
	background: #ffff;
}

.slider-controls {
	position: absolute;
	bottom: 96px;
	left: 45%;
}

.advantages {

}

.advantages-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 507px;
	padding: 80px 0;
	box-shadow: 0 2px 0px 0px #ececec;
}

.advantages-main img {
	margin-bottom: 26px;
}

.advantages-main h3 {
	margin-bottom: 26px;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.advantages-main p {
	width: 245px;
	min-height: 42px;
	margin-bottom: 35px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
}

.advantages-main li {
	list-style-type: none;
}

.advantages-item {
	width: 31%;
}

.studio-display-inner {
	display: flex;
	justify-content: space-between;
	height: 525px;
	padding-bottom: 76px;
	box-shadow: 0 2px 0px 0px #ececec;
}

.studio-main {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 655px;
	padding-top: 80px;
}

.studio-main h2 {
	font-size: 45px;
	line-height: 45px;
	letter-spacing: 0;
	font-weight: 500px;
}

.studio-main p {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
	padding-top: 35px;
}

.studio-main h4 {
	font-size: 16px;
	font-weight: 700px;
	text-transform: uppercase;
	padding-top: 47px;
}

.studio-main-info-item {
	padding-top: 35px;
}

.studio-image {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 40px;
}

.studio-image h4 {
	font-size: 16px;
	font-weight: 700px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 41px;
}

.studio-image-info {
	display: flex;
	justify-content: space-between;
	padding-top: 49px;
}

.studio-image-info p {
	padding-top: 27px;
}

.studio-image-info-item {
	width: 105px;
}

.studio-image-info-item p {
	font-size: 16px;
	letter-spacing: 0;
}

.studio-image-info li{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.studio-image-info span {
	display: flex;
	font-size: 45px;
	font-weight: 700px;
}

.studio-image-info span sup {
	font-size: 25px;
	position: relative;
	top: 4px;
}

.studio-partners {
	margin-bottom: 80px;
	box-shadow: 0 2px 0px 0px #ececec;
}

.std-partners-logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.studio-partners li {
	list-style-type: none;
	display: flex;
	justify-content: center;
	flex: 1;
	position: relative;
}

.studio-partners li:after {
	content: '';
	display: inline-block;
	position: absolute;
	right: 0;
	top: 21px;
	bottom: 21px;
	width: 2px;
	background: #ccc;
	opacity: 0.5;
}

.studio-partners li:last-child::after { 
	display: none; 
}

.std-partners-logo {
	padding: 45px 0;
}

.contacts {
	padding: 55px 0;
	background-image: url(img/bg-map.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

.contacts-info {
	display: inline-block;
	min-width: 308px;
	padding: 54px 50px 47px;
	background-color: #ffffff;
}

.contacts h4 {
	margin-bottom: 32px;
}

.cnt-info-address {
	margin-bottom: 20px;
}

.cnt-info-phone {
	margin-bottom: 37px;
}

.footer {
	padding: 69px 0;
}

.footer-display-inner {
	display: flex;
	align-items: center;
}

.footer-social {
	display: flex;
}

.footer-social-item {
	font-size: 0;
	width: 78px;
	height: 78px;
	border-radius: 50%;
	display: inline-block;
	background: #e1e1e1;
	margin: 0 6px;
}

.footer-text {
	margin-left: 139px;
}

.footer-text h3 {
	font-size: 36px;
	letter-spacing: 0;
	line-height: 36px;
	margin-bottom: 12px;
}

.footer-text p {
	font-size: 16px;
	letter-spacing: 0;
	line-height: 22px;
}



/* Разметка страницы каталога */



.catalog-ttl {
	padding: 82px 0 116px;
}

.catalog-title {
	font-size: 55px;
	letter-spacing: 0px;
	line-height: 55px;
	text-align: center;
}

.main-catalog {
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}

.main-catalog li {
	list-style-type: none;
}

.sidebar-filter {
	width: 260px;
}

.sidebar-filter h4 {
	text-transform: uppercase;
	font-size: 18px;
}

.fltr-ttl-price {
	margin-bottom: 55px;
}

.filter-price {
	min-height: 81px;
	background: #eeeeee;
	margin-bottom: 14px;
}

.filter-min, .filter-max {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #ffffff;
}

.filter-inputs {
	display: flex;
	justify-content: space-between;
}

.price-start, .price-end {
	align-content: center;
	width: 124px;
}

.price-start {
	margin-right: 45px;
}

.filter-field {
	width: 80px;
	min-height: 38px;
}

.filter-slider {
	text-transform: uppercase;
	margin-bottom: 62px;
}

.fltr-grid-type {
	margin-bottom: 51px;
}

.fltr-grid-type h4 {
	margin-bottom: 21px;
}

.fltr-grid-type ul li {
	display: flex;
	margin-bottom: 15px;
}

.fltr-properties {
	margin-bottom: 48px;
}

.fltr-properties h4 {
	margin-bottom: 21px;
}

.fltr-properties ul li {
	display: flex;
	margin-bottom: 17px;
}

.catalog-sort {
	margin-bottom: 59px;
}

.catalog-sort fieldset {
}

.catalog {
	width: 784px;
	padding-left: 20px;
}

.ctlg-srt {
	display: flex;
}

.ctlg-srt h4 {
	margin-right: 266px;
	font-size: 18px;
	text-transform: uppercase;
}

.sort-sites {
	margin-right: 48px;
}

.catalog-item {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	margin-bottom: 33px;
	border: 1px solid rgba(0,1,1, 0.1);
}

.catalog-item:hover {
	box-shadow: 0 0 15px 6px rgba(0,1,1, 0.25);
}

.catalog-item:hover .catalog-item-info {
	display: block;
}

.catalog-item a{
	line-height: 0px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 27px;
}

.catalog-item-info {
	display: none;
	position: absolute;
	width: 360px;
	text-align: center;
	background-color: #eee;
}

.catalog-item-title {
	padding-top: 33px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.catalog-item-description {
	margin-bottom: 30px;
	color: #666666;
}

.pagination {
	display: flex;
	justify-content: space-between;
	width: 443px;
	margin-bottom: 60px;
}

.pagination-item {
	width: 50px;
	text-align: center;
	background-color: #eee;
	color: #000;
	font-size: 16px;
	line-height: 50px;
	border-radius: 3px;
	text-transform: uppercase;
}

	
.pagination-item:last-child {
	width: 260px;
}

.pagination .active {
	background-color: #fff;
	border: 3px solid #dbdbdb;
	line-height: 44px;
}

.pagination-item a {
	text-decoration: none;
	color: #000;
	font-weight: medium;
}





.button {
	display: inline-block;
	font-size: 16px;
	line-height: 50px;
	border-radius: 3px;
	background-color: #fb565a;
	text-align: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500px;
}

.slide .button {
	width: 240px;
}

.advantages .button {
	width: 160px;
}

.adv-button-red {
	background-color: #fb565a;
}

.adv-button-green {
	background-color: #00ca74;
}

.adv-button-yellow {
	background-color: #efc84a;
}

.contact-info-btn {
	width: 219px;
}

.filter-button {
	width: 260px;
	background-color: #ccc;
	color: #111;
	padding: 0;
	border-width: 0px;
}

.catalog-button {
	width: 200px;
	margin-bottom: 43px;
	background-color: #fb565a;
}