*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

ul {
	margin: 0;
	padding: 0;
}

.main-header-bg {
	background-color: #eeeeee;
	height: 545px;
}

.main-header-nav {
	display: flex;
	align-items: center;
	padding-top: 49px;
}

.main-header-nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.header-item {
	display: flex;
	justify-content: center;
	padding: 0 24px;;
}

.main-header-cart {
}

input[type='radio'] {
	display: none;
}

.slider {
	display: flex;
	align-items: center;
	padding-top: 87px;
	padding-bottom: 80px;
}

.slides {
	display: flex;
	align-items: stretch;
}

.slides h2 {
	font-size: 55px;
	letter-spacing: 0;
	line-height: 55px;
	font-weight: medium;
}

.slide {
	display: none;
	width: 500px;
}

input:checked:nth-child(1) ~ .slides .slide1 {
	display: block;
}

input:checked:nth-child(2) ~ .slides .slide2 {
	display: block;
}

input:checked:nth-child(3) ~ .slides .slide3 {
	display: block;
}

.slider .container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.slider-control {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin: 0 8.5px;
	border-radius: 50%;
	background: #ffff;
}

.slider-controls {
	display: flex;
	justify-content: center;
	padding-right: 676px;
}

.advantages {

}

.advantages-main {
	display: flex;
	align-items: center;
	height: 507px;
	margin: 0 -50px;
	padding: 80px 0;
	box-shadow: 0 2px 0px 0px #ececec;
}

.advantages-main li {
	padding: 0 50px;
}

.advantages-main img {
	margin-bottom: 26px;
}

.advantages-main h3 {
	margin-bottom: 26px;
	font-size: 24px;
	line-height: 30px;
}

.advantages-main p {
	width: 240px;
	max-height: 42px;
	margin-bottom: 35px;
	font-size: 16px;
	line-height: 24px;
}


.advantages-main li {
	list-style-type: none;
}

.studio-display-inner {
	display: flex;
	justify-content: space-between;
	height: 525px;
	padding-bottom: 76px;
	box-shadow: 0 2px 0px 0px #ececec;
}

.studio-main {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 650px;
	padding-top: 80px;
}

.studio-main h2 {
	font-size: 36px;
	letter-spacing: 0;
	font-weight: 500px;
}

.studio-main p {
	font-size: 16px;
	letter-spacing: 0;
}

.studio-main h4 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.studio-image {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 40px;
}

.studio-image h4 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.studio-image-info {
	display: flex;
	justify-content: space-between;

}

.studio-image-info-item {
	width: 105px;
}

.studio-image-info-item p {
	font-size: 16px;
	letter-spacing: 0.2px;
}

.studio-image-info li{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.studio-image-info span {
	font-size: 36px;
	font-weight: bold;
}

.studio-partners {
	margin-bottom: 80px;
	box-shadow: 0 2px 0px 0px #ececec;
}

.std-partners-logo {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.studio-partners li {
	list-style-type: none;
}

.std-partners-logo {
	padding: 45px 0;
}

.button {
	display: inline-block;
	font-size: 16px;
	line-height: 50px;
	border-radius: 3px;
	background-color: #fb565a;
	text-align: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
}

.slide .button {
	width: 240px;
}

.advantages .button {
	width: 160px;
}

.adv-button-red {
	background-color: #fb565a;
}

.adv-button-green {
	background-color: #00ca74;
}

.adv-button-yellow {
	background-color: #efc84a;
}

.contact-info-btn {
	width: 219px;
}