*, *::before, *::after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

ul {
	margin: 0;
	padding: 0;
}

.main-header-nav {
	display: flex;
	align-items: center;
<<<<<<< HEAD
=======
	padding: auto;
>>>>>>> da847c4de9568703fb4d5f988c11f67d5eeab9ae
}

.main-header-nav ul {
	display: flex;
<<<<<<< HEAD
=======
	justify-content: center;
	align-items: center;
	margin: auto;
>>>>>>> da847c4de9568703fb4d5f988c11f67d5eeab9ae
}

.header-item {
	display: flex;
<<<<<<< HEAD
=======
	justify-content: center;
	padding: 0 24px;;
}

.main-header-cart {
>>>>>>> da847c4de9568703fb4d5f988c11f67d5eeab9ae
}

.advantages-main {
	display: flex;
	align-items: center;
<<<<<<< HEAD
=======
	margin: 0 auto;
	padding: 0 0;
}

.slider {
	display: flex;
	align-items: center;
}

.slide {
	width: 376px;
>>>>>>> da847c4de9568703fb4d5f988c11f67d5eeab9ae
}